@import "./variables";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
}

h1{
    text-align: center;
    font-size: 2rem;
    padding: 3rem 2rem;
    color: white;
    background-image: linear-gradient(rgba(41, 50, 44, 0.8), rgba(0, 0, 0, 0.25)), url(../img/books.jpg);
    background-position: center top;
    background-size: cover;
}
main{
    display: grid;
    grid-template-columns: 0.4fr 2.2fr;
}
.main-books{
    width: 55rem;
    margin: 2rem auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.1rem;
    .book{
        width: 25rem;
        height: 15rem;
        display: grid;
        grid-template-columns: 1fr 2fr;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 2rem;
        h4{
            margin: 0 0 1rem;
            color: $blue;
        }
        h5{
            margin: 1rem 0 0;
            font-size: 1.4rem;
            color: $blue;
        }
        p{
            font-size: 1rem;
        }
        img{
            width: 9rem;
            height: 12rem;
            margin: 0 1.5rem 0 0.5rem;
            -webkit-box-shadow: 22px 19px 25px -8px rgba(209,209,209,0.63);
            -moz-box-shadow: 22px 19px 25px -8px rgba(209,209,209,0.63);
            box-shadow: 22px 19px 25px -8px rgba(209,209,209,0.63)
        }
    }
}

ul{
    list-style: none;
    background-color: $black;
    form{
        display: flex;
        flex-direction: row;
        transition: 0.4s;
        color: white;
        i{
            position: relative;
            top: 1rem;
            margin: 0 0.5rem 0 1.5rem;
        }
        &:hover{
            background-color: white;        
            input, i{
                color: $black !important;
            }
        }
    }
    li{
        font-size: 1.2rem;
        padding: 1rem;
        transition: 0.3s;
        display: block;
    }
}
hr{
    color: rgb(123, 123, 123);
    opacity: 75%;
    width: 27rem;
    position: relative;
    left: 5rem;
    top: 0.5rem;
}
form input[type="submit"] {
    color: white;
    background-color: transparent;
    font-size: 1.2rem;
    border: 0px solid transparent;
    cursor: pointer;
    width: 15rem;
    display: flex;
    justify-content: flex-start;
}
.active{
    background-color: white;
    color: $black !important;
}
.title-button{
    padding: 0 0.5rem 0 0;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: transparent;
    color: black;
    border: 0px transparent solid;
    cursor: pointer;
    text-align: left;
}
nav{
    display: flex;
    flex-direction: row;
    background-color: $black;
    color: white;
    padding: 2rem 1rem;
    h4{
        font-size: 1.5rem;
        margin-right: 57rem;
        position: relative;
        top: 0.4rem;
        left: 1rem;
        a{
            text-decoration: none;
            color: white;
        }
    }
    select{
        width: 14rem;
        padding: 0.3rem 0.2rem;
        font-size: 1.1rem;
    }
    button{
        background-color: $blue;
        color: white;
        padding: 0.5rem 0.8rem;
        cursor: pointer;
        border-radius: 6px;
        font-size: 1.1rem;
        margin-left: 1rem;
    }
}
.book-page{
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    gap: 2rem;
    width: 70rem;
    margin: 3rem auto;
    img{
        border: 10px solid white;
        border-radius: 10px;
        -webkit-box-shadow: 1px 2px 23px 4px rgba(176,176,176,1);
        -moz-box-shadow: 1px 2px 23px 4px rgba(176,176,176,1);
        box-shadow: 1px 2px 23px 4px rgba(176,176,176,1);
        height: 36rem;
        object-fit: contain;
    }
    div{
        margin-top: 2rem;
        h3{
            font-size: 3rem;
        }
        h4{
            color: $blue;
            margin: 1rem 0;
            font-size: 2rem;
        }
        p{
            font-size: 1.2rem;
            font-weight: 400;
            margin-bottom: 1rem;
            background-color: $light_gray;
            border: 2px solid $dark_gray;
            padding: 0.8rem 0.7rem;
        }
        h5{
            color: $blue;
            margin: 0.5rem 0 0.5rem;
            font-size: 2rem;
        }
        span{
            display: block;
            font-size: 1.1rem;
        }
    }
}
.book-side{
    background-image: linear-gradient(rgba(41, 50, 44, 0.8), rgba(0, 0, 0, 0.15)), url(../img/books1.jpg);
    background-position: center top;
    background-size: cover;
    width: 15rem;
}
.main-h1{
    padding: 4rem 5rem;
}
.main-text{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70rem;
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
    margin: 2rem auto 4rem;
    img{
        width: 30rem;
        background-color: rgb(226, 208, 176);
        padding: 2rem;
        border-radius: 10px;
        margin: 2rem 0;
        border: 2px solid rgb(201, 191, 171);
    }
    p{
        font-size: 1.4rem;
        text-align: center;
        margin-top: 8.5rem;
        width: 30rem;
        line-height: 35px;
        position: relative;
        left: 3rem;
    }
}
.main-body{
    background-image: linear-gradient(rgba(41, 50, 44, 0.8), rgba(0, 0, 0, 0.75)), url(../img/books.jpg);
    background-position: center top;
    background-size: cover;
}