* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  text-align: center;
  font-size: 2rem;
  padding: 3rem 2rem;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(41, 50, 44, 0.8)), url(../img/books.jpg);
  background-position: center top;
  background-size: cover;
}

main {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
}

.main-books {
  width: 55rem;
  margin: 2rem auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.1rem;
}
.main-books .book {
  width: 25rem;
  height: 15rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2rem;
}
.main-books .book h3 {
  padding: 0.5rem 0.5rem 0 0;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}
.main-books .book h4 {
  margin: 0 0 1rem;
  color: rgb(50, 50, 176);
}
.main-books .book h5 {
  margin: 1rem 0 0;
  font-size: 1.4rem;
  color: rgb(50, 50, 176);
}
.main-books .book p {
  font-size: 1rem;
}
.main-books .book img {
  width: 9rem;
  height: 12rem;
  margin: 0 1.5rem 0 0.5rem;
  box-shadow: 22px 19px 25px -8px rgba(209, 209, 209, 0.63);
}

ul {
  padding: 1rem 0 0 2rem;
  list-style: none;
  color: white;
  background-color: #333;
}
ul li {
  font-size: 1.2rem;
  padding: 1rem;
}

hr {
  color: gray;
  opacity: 25%;
  position: relative;
  right: 1.25rem;
}